   html, body, input[type="text"], button[type=submit] {
     font-family: 'Raleway', sans-serif !important;
   }
   body {
     margin:0;
     padding:0;
   }
   #global-container {

   }
   #img-container {
     height:50%;
     background-image:url("http://i.imgur.com/m43WQk0.jpg");
     background-size:100% auto;
     background-repeat:no-repeat;
   }
   #logo-container {
     margin:0 auto;
     width:375px;
     border: 0.65em solid white;
     text-align:center;
     /* center div vertically */
     position:relative;
     top:50%;
     transform:translateY(-50%);
     text-align: center;
   }
   #logo-container h1 {
     font-size:3.5em;
     letter-spacing:0.25em;
     /* offsets the letter spacing on the final letter*/
     padding-left:0.25em;
     color:white;
   }
   #form-container {
     width:600px;
     margin:2.5% auto;
     text-align:center;
   }
   #search input[type=text] {
     font-size:1.25em;
     padding:5px 7px;
     width:65%;
   }
   #search-button {
     vertical-align:top;
     margin:1px 0 0 3px;
     height:3em;
     background-color:lightgrey;
     border:none;
     color:white;
     cursor:initial;
     font-size:.75em;
     font-weight:700;
     letter-spacing:0.5px;
     padding:0 12px;
   }
   #search-button:hover {
     cursor:pointer;
     background-color:grey;
   }
   #nav-container {
     position:absolute;
     top:0;
     left:0;
     width:100%;
     padding:.75em 0;
     text-align:right;
     background-color: rgb(28, 28, 40);
   }
   #nav-container a {
     margin:0 .5em 0 0 ;
     font-weight:700;
     color:white;
     text-decoration:none;
   }
   .uppercase {
     text-transform:uppercase;
   }
   #nav-container a {
    font-size:0.9em;
    float: right;
   }

   #nav-container > div {
       display: inline-block;
       width: 49%;
       vertical-align: middle;
   }

   #modal-background {
        position:fixed;
        top:0;
        left:0;
        background-color:rgba(0, 0, 0, 0.6);
        width:100%;
        height:100vh;
        z-index:1;
      }
      #modal-container {
        background-color:white;
        width:90%;
        margin:0 auto;
        height:90vh;
        overflow:auto;
        position:relative;
        top:50%;
        transform:translateY(-50%);
        z-index:2;
      }

    #body-wrapper {
      position: relative;
      overflow: auto;
    }

    #results-wrapper {
        width: 55%;
        float: left;
        /*position: relative;*/
    }

    #pagination {
        overflow: hidden;
        padding: 0 40px;
        display: none;
    }

    /*#pagination > .glyphicon {
        font-size: 1em;
        cursor: pointer;
    }*/

    .prev-button {
        float: left;
        cursor: pointer;
    }

    .next-button {
        float: right;
        cursor: pointer;
    }

    #results > h2 {
        margin-left: 30px;
    }

    #vis {
        width: 55%;
        float: left;
        position: fixed;
        /*background-color: navy;*/
        left: 45%;
    }

    #results > div {
        margin: 0 10%;
        padding: 20px 0;
        padding-bottom: 0;
        overflow: hidden;
    }

    .snippet {
        margin: 10px 0;
    }

    .title {
        margin-bottom: 10px;
    }

    .title > h3 {
        margin-top: 10px;
        font-weight: bold;
    }

    .options {
        margin-top: 10px;
    }

    .options a {
        margin-right: 10px;
    }

    .result ul {
        margin-top: 10px;
    }

    .result span {
        font-weight: bold;
    }

    .back {
        display: none;
        margin-top: 10px;
        margin-left: 40px;
    }

    #case-header {
        position: relative;
        display: none;
        margin-bottom: 20px;
        overflow: auto;
    }

    #header-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        /*padding: 10px;*/
    }

    .header-nav {
        overflow: hidden;
        background-color: rgb(28, 28, 40);
        color: white;
        border: 1px solid rgb(28, 28, 40);
    }

    #nav-left {
        width: 5%;
        float: left;
    }

    #nav-right {
        width: 95%;
        float: right;
    }

    .header-button {
        float: left;
        width: 33.33%;
        text-align: center;
        border-left: 1px solid gray;
        margin: 0;
        /*padding: 10px;*/
    }

    .button-wrapper:nth-child(1) {
        border-left: 0;
    }

    a, .header-button {
        cursor: pointer;
    }

    .header-button:hover {
        background-color: gray;
    }

    #top-nav {
        text-align: center;
    }

    .top-wrapper {
        margin: 10px 0;
    }

    #view-doc {
        display: inline;
    }

    .back {
        width: 100%;
    }

    .back > .glyphicon {
        padding: 9px;
        font-size: 1.5em;
    }

    .selected {
        background-color: whitesmoke !important;
        color: black;
        /*border-left: 1px solid black;
        border-right: 1px solid black;*/
    }

    #menu {
        position: absolute;
        display: none;
        width: 300px;
        /*height: 100px;*/
        border: 2px solid black;
        /*border-radius: 20px;*/
        background-color: white;
    }

    #menu > .glyphicon-remove {
        float: right;
        font-size: 1.5em;
        top: -10px;
        left: 10px;
        cursor: pointer;
    }

    #menu > .title {
        text-align: center;
    }

    .info {
        overflow: hidden;
        padding: 0;
    }

    .info > li {
        float: left;
        width: 50%;
        padding: 10px;
        list-style: none;
    }

    #facet-select {
        display: none;
        padding: 10px;
        position: relative;
        text-align: center;
    }

    #facet-select button {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }

    label, input[type="checkbox"] {
        cursor: pointer;
    }

    #facet-select label {
        margin: 10px 35px;
    }

    .node {
        cursor: pointer;
    }

    #loading {
        background-color:white;
        position:fixed;
        top:0;
        left:0;
        height:100%;
        width:100%;
        z-index:10;
        /*opacity: 0.9;*/
    }

    #loading-inner {
        top:42.5% !important;
        position:fixed;
        left:0;
        right:0;
        height:60px;
        width:60px;
        margin:0 auto;
        background-image:url("/assets/images/loading.gif");
        background-size:cover;
        background-position: center center;
        background-size:100% auto;
        background-repeat:no-repeat;
    }
    .no-scroll {
      overflow:hidden;
    }

    .loading {
    	background-image: url("/assets/images/loading.gif");
    	background-repeat: no-repeat;
    	background-position: 50% 5%;
      background-size: 5%;
    }

    .loading > div {
      visibility: hidden;
      /*opacity: 0.1;
      pointer-events: none;
      cursor: default;*/
    }