.results svg, .results_2 svg {
    margin: 0 auto;
    display: block;
}

.results {
    position: relative;
}

#menu {
    position: absolute;
    display: none;
    width: 200px;
    /*height: 100px;*/
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}